/** mod_discuss **/
.mod_discuss {position:relative;}
	.mod_discuss .icon       {display:inline-block; opacity:.6; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";}
	.mod_discuss .icon:hover {opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
	.mod_discuss .icon.icon-media  {background:url(/sys/res/icon/watch_doc.png) no-repeat; width:16px; height:16px;}
	.mod_discuss #discussListTbody .icon {float: left; margin-right: 5px;}
	.mod_discuss .discuss-hot {margin:0 5px 2px 0px;}
	/*.mod_discuss .discuss-panel {margin-top:5px;}*/
		.mod_discuss .discuss-btns-float {position:absolute; top:5px; right:5px;}
		.mod_discuss .discuss-form {display:none;}
		.mod_discuss .admin {font-weight:bold}
	.mod_discuss .disscuss-login-hint {float:left; margin-left:7px; line-height:1.5;}
	.mod_discuss .loading {margin:5px 8px; padding-left:20px; height:16px; background:url(/sys/res/icon/loading.gif) no-repeat; line-height:1; color:#999;}
	.mod_discuss .clist .tableBox .discuss-thread-td {padding:0 0 10px 0; background:#fff;}
	.mod_discuss .discuss-thread {/*border:1px solid #bbb;*/ background:#fff;}
	.mod_discuss .discuss-single             {padding:5px 5px 10px 25px; border-bottom:1px solid #ddd;}
	.mod_discuss .discuss-single:first-child {padding-left:5px;}
		.mod_discuss .discuss-single .meta {font-size:13px; line-height:1;}
			.mod_discuss .meta .anchor {float:right;}
			.mod_discuss .meta .avatar {float:left; margin:2px 8px 0 0;}
			.mod_discuss .noteImg {width:100px; display: block; background: #fff; padding: 2px; margin: 5px 5px 2px 2px; border: 1px solid #bbb; box-shadow: 0px 1px 2px #ccc; border-radius: 2px;}
				.mod_discuss .meta .avatar img {border:0;}
				.mod_discuss .discuss-single .avatar img             {width:25px;}
				.mod_discuss .discuss-single:first-child .avatar img {width:auto;}
			.mod_discuss .meta .op        {margin-left:7px; padding-left:12px; background-position:0 3px; background-repeat:no-repeat; cursor:pointer; opacity:.7; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";}
			.mod_discuss .meta .op:hover  {transition:opacity 0.1s linear; opacity:1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
			.mod_discuss .meta .op.edit   {background-image:url(/sys/res/icon/edit-gray.png);}
			.mod_discuss .meta .op.delete {background-image:url(/sys/res/icon/delete2.gif);}
			.mod_discuss .meta .op.hot  {padding-left:23px; background-position:0 5px;}
				.mod_discuss .meta .op.hot.enable  {background-image:url(/sys/res/icon/hot.gif);}
				.mod_discuss .meta .op.hot.disable {background-image:url(/sys/res/icon/hot_cancel.gif);}
		.mod_discuss .discuss-single .extra             {line-height:30px;}
		.mod_discuss .discuss-single:first-child .extra {line-height:40px;}
			.mod_discuss .meta .extra .time {margin-left:7px;}
		.mod_discuss .discuss-single .msg  {line-height:1.5; white-space:normal; overflow:hidden;}
	.mod_discuss .discuss-thread .discuss-panel {margin:0; padding:8px 0 5px 25px; line-height:1;}
		.mod_discuss .discuss-thread .discuss-panel .discuss-btns {float:left;}
		.mod_discuss .discuss-thread .discuss-panel .disscuss-firstChild {margin:0 0 8px 0;}
	.mod_discuss .discuss-pager .loading {margin:0; background-position:center;}
	.mod_discuss .discuss-recent .clist {margin-top:-5px; border-bottom:1px solid transparent}
	.mod_discuss .discuss-recent .clist .tableBox {border-top:0;}
	.mod_discuss .discuss-recent .clist .tableBox .header {background:transparent;}
	.mod_discuss .discuss-recent .clist .tableBox .header th {border-bottom:0;}
	.mod_discuss .discuss-recent .clist tbody tr:first-child td {border-top:0;}
	.mod_discuss .discuss-recent .clist tr:last-child td {border-bottom:1px solid transparent;}
	.mod_discuss .discuss-recent .clist th,
	.mod_discuss .discuss-recent .clist td {line-height:15px;}
	.mod_discuss .discuss-recent .ext.hint {margin-top:17px;}
	.mod_discuss .discuss-recent .groupRecentList {margin-top:-25px;}
	.mod_discuss .discuss-recent .groupRecentList .groupTitle {font-size:17px; font-weight:bold;}
	.mod_discuss .discuss-login-msg {min-height:88px; max-height:132px; overflow-x:hidden; overflow-y:auto; white-space:normal; line-height:1.5;}
	.mod_discuss .discuss-btns button {margin-right:5px;}
	
	.mod_discuss .discussList-setting {

	}

	.mod_discuss .discussList-setting div.radio {
		display: inline-block;
	}

	.mod_discuss .discussList-setting label {
		color:#444;
		margin-left: 16px;
		font-size:12px;
	}

	.discuss-recent .date {display:none}
	.discuss-recent tbody tr:hover .date {display:inline}